/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

:root {
	font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	background: var(--background-color);
	margin: 0;
	padding: 0;
	min-height: 100vh;
	color: var(--primary-font-color);
}

input,
textarea,
button {
	font-family: inherit;
	font-size: inherit;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
